#container{
    display: flex;
}
#increase{
    background-color: rgb(182, 174, 174);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px solid rgb(73, 68, 68);

}
#decrease{
    background-color: rgb(182, 174, 174);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border: 1px solid rgb(73, 68, 68);

}
#value{
    border-bottom: 1px solid rgb(73, 68, 68);
    border-top: 1px solid rgb(73, 68, 68);
    display: inline;
    width: 18px;
    text-align: center;
}
